{{>header}}

<body>
    
<!-- NAVBAR -->

        <section id="nav-bar">
            <nav class="navbar navbar-expand-lg navbar-color fixed-top ">
                <a class="navbar-brand" href="#">Blood Bank Managment</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav ml-auto">
                        <li id="nav-space"class="nav-item active">
                            <a class="nav-link" href="#donorimage">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li  id="nav-space"class="nav-item">
                            <a class="nav-link" href="#About">About</a>
                        </li>
                        <li  id="nav-space"class="nav-item">
                            <a class="nav-link" href="donate.html">Donate</a>
                        </li>
                        <li  id="nav-space"class="nav-item">
                            <a class="nav-link" href="landing_page.html">Logout</a>
                        </li>
                        
               
                    </ul>
                </div>
            
            </nav>
        
        </section>
<!-- Donar image -->
        <section id="donorimage">
              <img src="images/images2.jpg" alt="save blood">
          </section>


          <section id="About" >

                    <h1 style="text-align: center;">Eligiblity Criteria To Donate Blood</h1>   <br>             
                    <ul class="spacing">
                   <li>Overall health- The donor must be fit and healthy, and should not be suffering from transmittable diseases.</li> 
                   <li>Age and weight- The donor must be 18–65 years old and should weigh a minimum of 50  kg.</li> 
                   <li>Pulse rate- Between 50 and 100 without irregularities.</li> 
                   <li>Hemoglobin level- A minimum of 12.5 g/dL.</li> 
                   <li>Blood pressure- Diastolic: 50–100 mm Hg, Systolic: 100–180 mm Hg.</li> 
                   <li>Body temperature- Should be normal, with an oral temperature not exceeding 37.5 °C.</li> 
                   <li>The time period between successive blood donations should be more than 3 months.</li> </p>             
                    </ul>
            </section>
        
        
    
</body>

</html>