{{>header}}

<body>

    <!--NAVBAR  -->


    <section id="nav-bar">
        <nav class="navbar navbar-expand-lg navbar-color fixed-top ">
            <a class="navbar-brand" href="landing_page.html">Blood Bank Managment</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav ml-auto">
                    <li id="nav-space" class="nav-item active">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                 
                    <li id="nav-space" class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Register
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="#">Management</a>
                            <a class="dropdown-item" href="/donor-registration-page">Donor</a>

                        </div>
                    </li>
                    <li id="nav-space" class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Login
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="/management-login-page">Management</a>
                            <a class="dropdown-item" href="/donor-login-page">Donor</a>

                    </li>
                </ul>
            </div>

        </nav>
        </div>
    </section>


    <!-- DONOR FORM -->

    <section id="donorlogin">
        <h1 style="text-align: center;color: brown;">Management Register</h1><br>
        <form method="POST" action="/management-signup">
            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required>
            </div>
            <div class="form-group">
            <input type="radio" id="Govt" name="hospital_category" value="Govt" required>
            <label for="Govt" class="radio-spacing">Goverment </label>
            <input type="radio" id="Private" name="hospital_category" value="Private"required>
            <label for="Private"class="radio-spacing" > Private</label>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Hospital Name</label>
                <input type="text" class="form-control" id="exampleInputHospitalName1" required>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Admin Name</label>
                <input type="text" class="form-control" id="exampleInputName1" required>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Phone No</label>
                <input type="tel" class="form-control" pattern="[0-9]{10}" id="exampleInputPhoneno1" required>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Location</label>
                <input type="text" class="form-control"  id="exampleInputLocation1" required>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" required>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1"> Confirm Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" required>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </section>


</body>

</html>